<style>
        body {
            background-color: black;
            color: white;
            border: 5px solid purple;
            margin: 20px;
            padding: 20px;
        }

        a {
            color: #9b59b6;
        }
    </style>
